h1 {
 text-align: center;
 font-family: 'Walter Turncoat', cursive;
 padding: 0;
 padding-left: 30px;
 padding-top: 15px;
 margin: 0;
 line-height: 0.8;
}

h1#top {
 color: #black;
 font-size: 7em;
 text-align: center;

}

.title {
 padding: 0;
 text-align: center;
}


h3 {
 margin-top: 15px;
 margin-bottom: 15px;
}

h5 {
 text-align: center;
 font-size: 1.8em;

}

.active {
 border: 4px solid black;
 border-radius: 5px;
 margin-left: 60px;
}

.active h3 .player {
   font-size: 1.2em;
}

.active h3 {
   color: black;
}

.player {
   /*color: ##FF6699;*/
   font-size: 1.2em;
   margin-bottom: 30px;
}

h3 {
 font-family: 'Walter Turncoat', cursive;

}

p {
   margin-top: 25px;
}

#players {
 text-align: center;
 margin: auto;
}

.container {
 background: #fff;
 background: rgba(255,255,255, 0.99);
 border: 20px solid black;
 border-radius: 50px;
 width: 700px;
 margin: auto;
 margin-top: 40px;
 margin-bottom: 40px;
 padding-top: 25px;
 padding-bottom: 25px;
 padding-bottom: 50px;

}

body {
   background: #DC143C;
   color: #333;
   height: 100%;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

}

.btn {
 padding: 10px 25px;
 border-radius: 50%;
}

#roll .btn {
   color: #fff;
   background: #DC143C;
   border: black;
   margin-left: 15px;
}

#end-turn .btn {
   color: #fff;
   background: black;
   border: #FF99BB;
   margin-left: 15px;
}

#jumbo1{
  background-image: url(../img/pig1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
#jumbo2{
  background-image: url(../img/pig4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  color: black;
}
#jumbo3{
  background-image: url(../img/pig2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  color: black;
}
img{
  border-radius: 50%;
}
